Hey there! My name is Hieu and welcome to my blog. This is the place I keep notes of what I learnt and what I accomplished. I hope you enjoy learning and reading. Thank you for stopping by.

<h1>DataCamp</h1>
<br>

<br>
<br>

<div class="fontsize">
<ol>
    <li>
        <a href="./2019/11/22/HOG.html">Tạo lập đặc trưng HOG</a>
    </li>
    <li>
        <a href="./2019/08/22/convolutional-neural-network.html">Mạng tích chập</a>
    </li>
    <li>
        <a href="./2020/05/31/CNNHistory.html">Lịch sử CNN</a>
    </li>
    <li>
        <a href="./2020/09/19/MobileNet.html">Mô hình MobileNet</a>
    </li>
    <li>
        <a href="./2020/12/19/Resnet.html">Mô hình ResNet</a>
    </li>
    <li>
        <a href="./2019/09/29/OverviewObjectDetection.html">Bài toán object detection</a>
    </li>
    <li>
        <a href="./2019/10/05/SSDModelObjectDetection.html">Mô hình SSD</a>
    </li>
    <li>
        <a href="./2019/12/02/DeepLearningLayer.html">Các layers quan trọng trong deep learning</a>
    </li>
    <li>
        <a href="./2020/01/06/ImagePreprocessing.html">Tiền xử lý ảnh trong opencv</a>
    </li>
    <li>
        <a href="./2020/03/09/DarknetAlgorithm.html">Mô hình YOLO</a>
    </li>
    <li>
        <a href="./2020/03/10/DarknetGoogleColab.html">Huấn luyện mô hình YOLO</a>
    </li>
    <li>
        <a href="./2020/08/23/FocalLoss.html">RetinaNet và Focal Loss</a>
    </li>
    <li>
        <a href="./2020/06/10/ImageSegmention.html">Bài toán Image Segmention</a>
    </li>
    <li>
        <a href="./2020/06/20/Unet.html">Mô hình Unet Image Segmentation</a>
    </li>
    <li>
        <a href="./2020/06/18/DeepLab.html">Mô hình DeepLab trong Image Segmentation</a>
    </li>
    <li>
        <a href="./2020/03/12/faceNetAlgorithm.html">Nhận diện khuôn mặt</a>
    </li>
    <li>
        <a href="./2020/03/21/faceNet.html">Huấn luyện mô hình faceNet</a>
    </li>
    <li>
        <a href="./2020/04/15/TransferLearning.html">Phương pháp transfer learning</a>
    </li>
    <li>
        <a href="./2020/04/22/MultitaskLearning.html">Học đa nhiệm vụ Multi-task learning part1</a>
    </li>
    <li>
        <a href="./2020/05/05/MultitaskLearning_MultiBranch.html">Học đa nhiệm vụ Multi-task learning part2</a>
    </li>
    <li>
        <a href="./2021/03/13/KnownledgeDistillation.html">học chắt lọc knowledge distillation</a>
    </li>
    <li>
        <a href="./2020/03/23/FlaskRestAPI.html">Triển khai mô hình trên flask API</a>
    </li>
    <li>
        <a href="./2020/03/28/deployTensorflowJS.html">Triển khai mô hình trên tensorflowjs</a>
    </li>
    <li>
        <a href="./2020/04/03/AWS.html">Máy ảo AWS</a>
    </li>
    <li>
        <a href="./2020/04/09/TensorflowDataset.html">Kỹ thuật tensorflow dataset</a>
    </li>
    <li>
        <a href="./2020/11/17/DockerDL.html">Docker cho Deep Learning</a>
    </li>
    <li>
        <a href="./2020/11/23/Quantization.html">Kỹ thuật quantization</a>
    </li>
    <li>
        <a href="./2020/11/30/ParallelComputingPython.html">Xử lý đa luồng trong python</a>
    </li>
</ol>
</div>


